<app-header></app-header>

<div class="content" cdkDropList >
<div class="example-list">
  <p>To do</p>
  <input type="text" placeholder="Ingresa la tarea" [(ngModel)]="nameTask" id="task">
  <button type="button" [disabled]="!nameTask" (click)="saveTask()">add task</button>
</div>
<div class="example-list">In progress</div>
<div class="example-list">Done</div>

<div cdkDropList
#todoList="cdkDropList"
[cdkDropListData]="todo"
[cdkDropListConnectedTo]="[doneList]"
class="example-list"
(cdkDropListDropped)="drop($event)">
<div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>>

  <ul>
    <li *ngFor="let task of tasks; let indice = index;" [class.tachado] ="task.finished">
        <input type="checkbox" [(ngModel)]="task.finished" (change)="changestateOfTasks()">{{task.name}}
        <a (click)="deleteTask(indice)" class="delteLink">&times;</a>
    </li>
</ul>
</div>

<div cdkDropList
#doneList="cdkDropList"
[cdkDropListData]="done"
[cdkDropListConnectedTo]="[todoList]"
class="example-list"
(cdkDropListDropped)="drop($event)">
<div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>

></div>
<div class="example-list"></div>
</div>
<app-footer></app-footer>
