.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
}

.example-list {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(201, 201, 110);
  margin: 1em 3em .5em 3em;
  height: 10em;
}
